<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg
    5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="log">
        <div class="form-section">
            <h2>Você está logado</h2><br>
            <h2>Bem-vindo Usuário! 😊</h2>
            <div class="button-container">
                <p><a href="{{ url_for('login_controller.logout') }}"><button type="submit"class="btn-add">Deslogar</button></a></p>
                <p><a href="{{ url_for('home.home') }}"><button type="submit"class="btn-add">Página Principal</button></a></p>
                <p><a href="{{ url_for('livro.livro') }}"><button type="submit"class="btn-add">Carrinho de Livros</button></a></p>

            </div>
</body>

</html>