<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livrinhos</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg
    5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="form-section">
            <h2>Login</h2>
            <form action="{{url_for('hello.autenticar')}}" method="POST">
                <label for="campo1">Usuário:</label>
                <input type="text" id="usuario" name="username" required placeholder="Digite o seu usuário">
                <br>

                <label for="campo2">Senha:</label>
                <input type="password" id="senha" name="password" required placeholder="Digite a sua senha">

                <button type="submit" class="btn-add">Cadastrar</button>
            </form>
            <br>
            <a href="{{url_for('hello.index')}}">Voltar</a>
</body>

</html>